body {
    font-family: Arial, sans-serif;
    margin: 120px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/bg.jpg');
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.form-container, .preview-container {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(246, 239, 239, 0.3);
    outline: none;
    border: none;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.preview-container {
    background: white;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

#preview {
    padding: 20px;
}

#preview h2, #preview p {
    margin: 0 0 10px;
}
